public/templates/rss-ai-summary.json
{
  "name": "RSS to AI Summary Newsletter",
  "nodes": [
    {
      "id": "a9b0c1d2-e3f4-5678-abcd-789012345678",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": 86400
        }
      }
    },
    {
      "id": "b0c1d2e3-f4a5-6789-bcde-890123456789",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "url": "={{ $env.RSS_FEED_URL }}"
      }
    },
    {
      "id": "c1d2e3f4-a5b6-7890-cdef-901234567890",
      "name": "Summarize with AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ 'Summarize this article in 2 sentences:\\n\\nTitle: ' + $json.title + '\\n\\nContent: ' + ($json.content || '').substring(0, 2000) + '\\n\\nLink: ' + $json.link }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 300
        }
      }
    },
    {
      "id": "d2e3f4a5-b6c7-8901-defa-012345678901",
      "name": "Compile Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summaries = items.map(i => `- ${i.json.originalTitle || 'Article'}: ${i.json.output?.trim() || i.json.choices?.[0]?.message?.content?.trim() || ''}`).join('\\n\\n');\nconst date = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' });\nreturn [{\n  json: {\n    to: 'team@company.com',\n    subject: `Daily AI Digest - ${date}`,\n    body: `Your AI-Powered News Digest\\n${date}\\n\\n${summaries}\\n\\nPowered by n8n + OpenAI`\n  }\n}];"
      }
    },
    {
      "id": "e3f4a5b6-c7d8-9012-efab-123456789012",
      "name": "Send Newsletter",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "fromEmail": "digest@company.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [[{ "node": "Fetch RSS Feed", "type": "main", "index": 0 }]]
    },
    "Fetch RSS Feed": {
      "main": [[{ "node": "Summarize with AI", "type": "main", "index": 0 }]]
    },
    "Summarize with AI": {
      "main": [[{ "node": "Compile Newsletter", "type": "main", "index": 0 }]]
    },
    "Compile Newsletter": {
      "main": [[{ "node": "Send Newsletter", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "versionId": "a9b0c1d2-e3f4-5678-abcd-789012345678",
  "triggerCount": 0,
  "tags": []
}
