templates/ig-hashtag-scraper.json
{
  "name": "Instagram Hashtag Scraper",
  "nodes": [
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": 3600
        }
      }
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Search Hashtag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.IG_API_BASE_URL }}/v1/tags/{{ $env.TARGET_HASHTAG }}/media",
        "authentication": "genericCredentialType",
        "sendQuery": true,
        "sendHeaders": true,
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Extract Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "jsCode": "const posts = $input.first().json.data || [];\nreturn posts.map(p => ({\n  json: {\n    id: p.id,\n    caption: (p.caption || '').substring(0, 200),\n    likes: p.like_count || 0,\n    comments: p.comment_count || 0,\n    media_type: p.media_type,\n    permalink: p.permalink,\n    timestamp: p.timestamp\n  }\n}));"
      }
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Analyze Engagement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [{ json: { error: 'no_posts', scanned_at: new Date().toISOString() } }];\nconst totalLikes = items.reduce((s, i) => s + (i.json.likes || 0), 0);\nconst totalComments = items.reduce((s, i) => s + (i.json.comments || 0), 0);\nreturn [{\n  json: {\n    hashtag: $env.TARGET_HASHTAG,\n    count: items.length,\n    total_likes: totalLikes,\n    total_comments: totalComments,\n    avg_likes: Math.round(totalLikes / items.length),\n    avg_comments: Math.round(totalComments / items.length),\n    engagement_rate: ((totalLikes + totalComments) / items.length).toFixed(2),\n    scanned_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.SHEET_ID }}",
        "sheetName": "HashtagData",
        "options": {}
      }
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [[{ "node": "Search Hashtag", "type": "main", "index": 0 }]]
    },
    "Search Hashtag": {
      "main": [[{ "node": "Extract Posts", "type": "main", "index": 0 }]]
    },
    "Extract Posts": {
      "main": [[{ "node": "Analyze Engagement", "type": "main", "index": 0 }]]
    },
    "Analyze Engagement": {
      "main": [[{ "node": "Save to Sheets", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "versionId": "f6a7b8c9-d0e1-2345-fabc-456789012345",
  "triggerCount": 0,
  "tags": []
}
