templates/instagram-auto-reply.json
{
  "name": "Instagram Auto-Reply with AI",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560011",
      "name": "Instagram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "instagram-comment-webhook",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "ig-comment-hook-001"
    },
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560022",
      "name": "Filter Keywords",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.comment.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              },
              "rightFixedValue": "price|cost|buy|order|how much|shipping|available"
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560033",
      "name": "Generate Reply with OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 200],
      "parameters": {
        "resource": "chat",
        "options": {
          "model": "gpt-4",
          "temperature": 0.7,
          "maxTokens": 150
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a friendly social media assistant for an e-commerce brand. Generate a short, friendly reply to an Instagram comment. Keep it under 100 characters. Be helpful and include a call to action if appropriate."
            },
            {
              "role": "user",
              "content": "={{ \"Reply to this Instagram comment from \" + $json.comment.username + \": \" + $json.comment.text }}"
            }
          ]
        },
        "credential": {
          "id": "openai-cred-001",
          "name": "OpenAI API Account"
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560044",
      "name": "Post Reply to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 200],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $json.media_id }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {},
        "credential": {
          "id": "instagram-oauth-001",
          "name": "Instagram Graph API"
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560055",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [850, 400],
      "parameters": {
        "operation": "append",
        "documentId": "1aBcDeFgHiJkLmNoPqRsTuVwXyZ",
        "sheetName": "Auto-Replies",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISOString() }}",
            "username": "={{ $json.comment.username }}",
            "comment": "={{ $json.comment.text }}",
            "reply": "={{ $json.choices[0].message.content }}",
            "status": "replied"
          }
        },
        "options": {
          "cellFormat": "userEntered",
          "dateTimeRenderOption": "formattedString"
        },
        "credential": {
          "id": "gsheets-cred-001",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Instagram Webhook": {
      "main": [
        [
          {
            "node": "Filter Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Keywords": {
      "main": [
        [
          {
            "node": "Generate Reply with OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate Reply with OpenAI": {
      "main": [
        [
          {
            "node": "Post Reply to Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": ["instagram", "social-media", "automation", "ai"],
  "versionId": "v1-inst-auto-reply-20260530",
  "triggerCount": 0
}
